.container-app {
  padding: 3.5rem;
  max-width: 50vw;
  margin: 0 auto;
}



.update-form-state-button {
  border: none;
  background-color: white;
  font-size: 20px;
  padding: 0px 3px;
  transition: background-color 0.5s;
  transition: transform 0.1s;
}

.update-form-state-button:hover {
  cursor: pointer;
  background-color: #dcdcdc;
  transform: scale(1.05);
}